.register-form-container {
    display: flex;
    flex-flow: column;

    width: 400px;
    margin: 0 auto;
}
.register-form {
    display: flex;
    flex-flow: column;

    width: 400px;
    margin: 0 auto;
}
.register-form label{
    font-size: 20px;
    align-self: center;
}
.register-form input{
    font-size: 16px;
    align-self: center;
    padding: 3px;

    border: 1px solid black;
}
.register-form-container div {
    align-self: center;
}